/*CSS Stylesheet
*/

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    height: 100vh;
    background-color:#ffe4c4;
}

h1 {
    color:brown
}

.text-box {
    font-family: sans-serif;
    font-size: medium;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: #e9b181;
    padding: 30px;
}